* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: "Roboto", arial, sans-serif;
}

.blue {
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: underline rgba(78, 155, 255, 0.664) 5px;
    

}

$border-bottom-color: rgba(0, 0, 0, 0.108);

.text {
    display: flex;
}

nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 22px;
    border-bottom: 1px solid $border-bottom-color;

    .leftSide {
        display: flex;
        gap: 22px;
    }
    .rightSide {
        display: flex;
        gap: 15px;
    }
}

.header {
    .elementZ {
        cursor: pointer;
        color: rgb(25, 103, 210);
        background-color: rgba(141, 141, 141, 0.062);
        display: flex;
        text-align: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 22px 0 50px 80px;
        border-bottom: 1px solid $border-bottom-color;
        .fa-sharp {
            padding: 0 10px 0 5px;
        }
        .title {
            display: flex;
            background-color: rgba(21, 63, 252, 0.137);
            border: 1px solid rgba(0, 0, 0, 0.127);
            border-radius: 5px;
            padding: 10px;
            gap: 5px;
        }
        .images {
            display: flex;
            border: 1px solid rgba(0, 0, 0, 0.127);
            border-radius: 5px;
            padding: 10px;
            gap: 5px;
        }
        .documents {
            display: flex;
            border: 1px solid rgba(0, 0, 0, 0.127);
            border-radius: 5px;
            padding: 10px;
            gap: 5px;
        }
        .websites {
            display: flex;
            border: 1px solid rgba(0, 0, 0, 0.127);
            border-radius: 5px;
            padding: 10px;
            gap: 5px;
        }
    }
}

main {
    display: flex;
    justify-content: center;

    .contain {
        margin-bottom: 220px;
        border: 2px solid rgba(0, 0, 0, 0.122);
        border-radius: 9px;
        display: flex;
        justify-content: space-between;
        width: 1320px;
        height: 225px;
        background: rgba(255, 255, 255, 0.062);
        #trans {
            padding-top: 20px;
            cursor: pointer;
        }
        .section {
            ul {

                li{
                    cursor:pointer;
                }
            }

            .textA {
                padding-top: 20px;
                border-top: 1px solid rgba(0, 0, 0, 0.115);
                padding-left: 25px;
                textarea {
                    border: 0;
                    outline: 0;
                    width: 518px;
                    height: 74px;
                    resize: none;
                    font-size: 24px;
                    overflow: hidden;
                }
            }
        }

        .sectionB {
            .textB {
                padding-top: 20px;
                border-top: 1px solid rgba(0, 0, 0, 0.115);
                padding-right: 25px;
                textarea {
                    border: 0;
                    outline: 0;
                    width: 518px;
                    height: 74px;
                    resize: none;
                    font-size: 24px;
                    overflow: hidden;
                }
            }
        }
    }

    ul {
        gap: 22px;
        padding: 20px;
        font-size: 14px;
        font-family: "Roboto", arial, sans-serif;
        list-style-type: none;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    li {
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
    }
}
